{extend name='common@base'/}

{block name='title'}博物馆管理{/block}

{block name='breadcrumb'}
<ul class="breadcrumb">
    <li>
        <i class="ace-icon fa fa-list-alt home-icon"></i>
        <a href="/news">新闻管理</a>
    </li>

    <li>
        <a href="/news">查看和修改新闻</a>
    </li>
</ul><!-- /.breadcrumb -->
{/block}


{block name='content'}

<div class="page-header">
    <h1>
        查看和修改新闻
        <small>
            <i class="ace-icon fa fa-angle-double-right"></i>
            新闻总览
        </small>
    </h1>
</div><!-- /.page-header -->

<div class="row mt">
    <div class="col-lg-6 col-md-6 col-sm-6">
        <form class="form-search" action="/news/search" method="get">
            <span class="input-icon">
                <input type="text" name="title" placeholder="Search ..." class="" autocomplete="off" />
                <i class="ace-icon fa fa-search"></i>
            </span>
        </form>
    </div>
</div><!-- /.nav-search -->


        <div class="row mt">
            <div class="col-lg-12 col-md-12 col-sm-12">
                {foreach name='news' item='item'}
                <div class="panel">
                    <h3 class="header smaller lighter blue"><i class="fa fa-angle-right"></i>
                        <a href="/news/{$item['id']}">{$item['title']}</a></h3>
                    <div class="row mt">
                        <div class="hidden-xs" style="float:left; margin-left: 20px; margin-bottom: 10px;">
                            <span class="profile-picture">
                            <img width="100%" style="height: 120px; width: 200px" src="{$item['img_url']}" alt="">
                            </span>
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-8">
                            <div class="well well-sm">
                                <p>{$item['excerpt']}</p>
                            </div>
                        </div>
                    </div>

                </div><!-- /showback -->
                <a id="add-sticky" class="btn btn-success btn-sm no-border" href="/news/{$item['id']}">查看全文</a>
                <a id="add-without-image" class="btn btn-info btn-sm no-border" href="/news/modify/{$item['id']}">修改新闻</a>
                <a id="remove-all" class="btn btn-danger btn-sm no-border" onclick="confirmdelete({$item['id']})">删除新闻</a>
                <hr>
                {/foreach}
            </div>
        </div>

<nav class="centered" aria-label="Page navigation">
    <ul class="pagination">
        <li>
            <a href="/news?page={$previous}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        {for start="1" end="$pages+1" name='p'}
        <li><a href="/news?page={$p}">{$p}</a></li>
        {/for}
        <li>
            <a href="/news?page={$next}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>

<!-- Modal -->
<div class="modal fade" id="delete-warning" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">警告</h4>
            </div>
            <form action="">
                <div class="modal-body">
                    <input type="hidden" id="deleteurl">
                    一旦删除此项就无法恢复，确认删除吗？
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-danger" onclick="delete_news()">确认删除</button>
                </div>
            </form>
        </div>
    </div>
</div>


<script>
    function check($this) {
        var url = $($this).parent().parent().find('td:eq(0)').text();
        url = '/news/'+url;
        window.open(url,'_self');
    }

    function modify($this) {
        var url = $($this).parent().parent().find('td:eq(0)').text();
        url = '/news/modify/'+url;
        window.open(url,'_self');
    }

    function confirmdelete($id) {
        url = '/news/'+$id;
        $("#deleteurl").val(url);
        $("#delete-warning").modal('show');
    }

    function delete_news() {
        $.ajax({
            url: $("#deleteurl").val(),
            type: 'DELETE',
            dataType: 'json',
            success: function(result) {
                if(result.valid == 1) {
                    window.location.reload();
                }
                else
                {
                    alert('删除失败，请稍后重试');
                    return false;
                }
            }
        });
        // $("#delete-warning").modal('hide');
    }
</script>

{/block}

{block name='script'}
<script>
    $("#sidebar ul li").eq(4).addClass("open");
    $("#sidebar ul li").eq(4).find("ul li").eq(0).addClass("active");
</script>
{/block}