{extend name='common@base'/}

{block name='title'}查看新闻{/block}

{block name='breadcrumb'}
<ul class="breadcrumb">
    <li>
        <i class="ace-icon fa fa-list-alt home-icon"></i>
        <a href="/news">新闻管理</a>
    </li>

    <li>
        <a href="/news">查看新闻</a>
    </li>
</ul><!-- /.breadcrumb -->
{/block}


{block name='content'}

<div class="page-header">
    <h1>
        查看新闻
    </h1>
</div><!-- /.page-header -->

<h1>{$news['title']}</h1>
<hr>
<h5>{$news['author']} 发表于 {$news['release_time']}</h5>
<br>
<p>{$news['content']}</p>
<hr>
<button type="button" class="btn btn-danger no-border" onclick="window.location.href='/news/modify/{$id}'">修改</button>
<button type="button" class="btn btn-info no-border" onclick="window.location.href='/news'">返回新闻首页</button>
{/block}


{block name='script'}
<script>
    jQuery(function() {
        $("#sidebar ul li").eq(4).addClass("open");
        $("#sidebar ul li").eq(4).find("ul li").eq(0).addClass("active");
    })
</script>
{/block}