{extend name='common@base'/}

{block name='title'}音频审核{/block}

{block name='breadcrumb'}
<ul class="breadcrumb">
    <li>
        <i class="ace-icon fa fa-headphones home-icon"></i>
        <a href="/audio">音频管理</a>
    </li>

    <li>
        <a href="/audio">音频审核</a>
    </li>
</ul><!-- /.breadcrumb -->
{/block}


{block name='content'}

<div class="page-header">
    <h1>
        音频审核
        <small>
            <i class="ace-icon fa fa-angle-double-right"></i>
            音频总览
        </small>
    </h1>
</div><!-- /.page-header -->

<div class="row mt">
    <div class="col-lg-6 col-md-6 col-sm-6">
        <form class="form-search" action="/audio/search" method="get">
            <span class="input-icon">
                <input type="text" name="key" placeholder="Search ..." class="" autocomplete="off" />
                <i class="ace-icon fa fa-search"></i>
            </span>
        </form>
    </div>
</div><!-- /.nav-search -->

<hr>

<div class="row mt">
    <div class="col-lg-12 col-md-12 col-sm-12">
        {foreach name='audio' item='item'}
        <div class="showback" id="audio-{$item['id']}">
            <p class="weixinAudo">
                <audio src="{$item['addr']}" id="media" width="1" height="1" preload></audio>
                <span id="audio_area" class="db audio_area">
                    <span class="audio_wrp db">
                        <span class="audio_play_area">
                            <i class="icon_audio_default"></i>
                            <i class="icon_audio_playing"></i>
                        </span>
                        <span id="audio_length" class="audio_length tips_global">3:07</span>
                        <span class="db audio_info_area">
                            <strong class="db audio_title">{$item['user_name']}</strong>
                            <span class="audio_source tips_global">{$item['upload_time']} </span>
                            <span class="audio_source tips_global">{$item['museum_name']} </span>
                        </span>
                        <span id="audio_progress" class="progress_bar" style="width: 0%;"></span>
                    </span>
                </span>
            </p>

            <a class="btn btn-success btn-sm no-border" href="/audio/{$item['id']}">查看详细信息</a>
            <a class="btn btn-info btn-sm no-border" href="/audio/modify/{$item['id']}">修改音频描述</a>

            <button class="btn btn-sucess btn-sm no-border disabled
            {neq name="item['status']" value="0"}hidden{/neq}">未审核</button>

            <button class="btn btn-success btn-sm no-border disabled
            {neq name="item['status']" value="1"}hidden{/neq}">已审核通过</button>

            <button class="btn btn-sucess btn-sm no-border disabled
            {neq name="item['status']" value="2"}hidden{/neq}">审核未通过</button>

            <button class="btn btn-danger btn-sm no-border
            {neq name="item['status']" value="1"}hidden{/neq}"
                    onclick="cancelcheck({$item['id']})">取消审核</button>
            <button class="btn btn-info btn-sm no-border
            {eq name="item['status']" value="1"}hidden{/eq}"
            onclick="passcheck({$item['id']})">通过审核</button>
            <button class="btn btn-danger btn-sm no-border" onclick="confirmdelete({$item['id']})">删除音频</button>
        </div><!-- /showback -->
        <hr>
        {/foreach}


    </div>
</div>


<nav class="centered" aria-label="Page navigation">
    <ul class="pagination">
        <li>
            <a href="/audio?page={$previous}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        {for start="1" end="$pages+1" name='p'}
        <li><a href="/audio?page={$p}">{$p}</a></li>
        {/for}
        <li>
            <a href="/audio?page={$next}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>

<!-- Modal -->
<div class="modal fade" id="delete-warning" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">警告</h4>
            </div>
            <form action="">
                <div class="modal-body">
                    <input type="hidden" id="deleteurl">
                    一旦删除此项就无法恢复，确认删除吗？
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-danger" onclick="delete_audio()">确认删除</button>
                </div>
            </form>
        </div>
    </div>
</div>



<style type="text/css">
    html {
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }
    .db {
        display: block;
    }
    .weixinAudio {
        line-height: 1.5;
    }
    .audio_area {
        display: inline-block;
        width: 100%;
        vertical-align: top;
        margin: 0px 1px 0px 0;
        font-size: 0;
        position: relative;
        font-weight: 400;
        text-decoration: none;
        -ms-text-size-adjust: none;
        -webkit-text-size-adjust: none;
        text-size-adjust: none;
    }
    .audio_wrp {
        border: 1px solid #ebebeb;
        background-color: #fcfcfc;
        overflow: hidden;
        padding: 12px 20px 12px 12px;
    }
    .audio_play_area {
        float: left;
        margin: 9px 22px 10px 5px;
        font-size: 0;
        width: 18px;
        height: 25px;
    }
    .playing .audio_play_area .icon_audio_default {
        display: block;
    }
    .audio_play_area .icon_audio_default {
        background: transparent url(__STATIC__/images/iconloop.png) no-repeat 0 0;
        width: 18px;
        height: 25px;
        vertical-align: middle;
        display: inline-block;
        -webkit-background-size: 54px 25px;
        background-size: 54px 25px;
        background-position: -36px center;
    }
    .audio_play_area .icon_audio_playing {
        background: transparent url(__STATIC__/images/iconloop.png) no-repeat 0 0;
        width: 18px;
        height: 25px;
        vertical-align: middle;
        display: inline-block;
        -webkit-background-size: 54px 25px;
        background-size: 54px 25px;
        -webkit-animation: audio_playing 1s infinite;
        background-position: 0px center;
        display: none;
    }
    .audio_area .pic_audio_default {
        display: none;
        width: 18px;
    }
    .tips_global {
        color: #8c8c8c;
    }
    .audio_area .audio_length {
        float: right;
        font-size: 14px;
        margin-top: 3px;
        margin-left: 1em;
    }
    .audio_info_area {
        overflow: hidden;
    }
    .audio_area .audio_title {
        font-weight: 400;
        font-size: 17px;
        margin-top: -2px;
        margin-bottom: -3px;
        width: auto;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        word-wrap: normal;
    }
    .audio_area .audio_source {
        font-size: 14px;
    }
    .audio_area .progress_bar {
        position: absolute;
        left: 0;
        bottom: 0;
        background-color: #0cbb08;
        height: 2px;
    }
    .playing .audio_play_area .icon_audio_default {
        display: none;
    }
    .playing .audio_play_area .icon_audio_playing {
        display: inline-block;
    }
    @-webkit-keyframes audio_playing {
        30% {
            background-position: 0px center;
        }
        31% {
            background-position: -18px center;
        }
        61% {
            background-position: -18px center;
        }
        61.5% {
            background-position: -36px center;
        }
        100% {
            background-position: -36px center;
        }
    }
</style>

{/block}


{block name='specificscript'}
<script src="__STATIC__/js/weixinAudio.js"></script>
{/block}

{block name='script'}
<link rel="stylesheet" href="__STATIC__/css/jquery.xctips.css">
<script src="__STATIC__/js/jquery.xctips.js"></script>

<script>

    function check($this) {
        var url = $($this).parent().parent().find('td:eq(0)').text();
        url = '/audio/'+url;
        window.open(url,'_self');
    }

    function modify($this) {
        var url = $($this).parent().parent().find('td:eq(0)').text();
        url = '/audio/modify/'+url;
        window.open(url,'_self');
    }

    function passcheck($id) {
        $.ajax({
            url: '/audio/check/pass/'+$id,
            type: 'POST',
            dataType: 'json',
            async: true,
            success: function(result) {
                if(result.valid == 1) {
                    $("#audio-"+$id+" button").eq(0).addClass('hidden');
                    $("#audio-"+$id+" button").eq(2).addClass('hidden');
                    $("#audio-"+$id+" button").eq(1).removeClass('hidden');
                    $("#audio-"+$id+" button").eq(4).addClass('hidden');
                    $("#audio-"+$id+" button").eq(3).removeClass('hidden');
                    xcsoft.success(result.msg, 1500);
                }
                else
                {
                    xcsoft.error(result.msg, 2000);
                    return false;
                }
            },
            error: function () {
                xcsoft.error('出现错误，请稍后再试', 2000);
                return false;
            }
        });
    }

    function cancelcheck($id) {
        $.ajax({
            url: '/audio/check/cancel/'+$id,
            type: 'POST',
            dataType: 'json',
            success: function(result) {
                if(result.valid == 1) {
                    $("#audio-"+$id+" button").eq(1).addClass('hidden');
                    $("#audio-"+$id+" button").eq(2).removeClass('hidden');
                    $("#audio-"+$id+" button").eq(3).addClass('hidden');
                    $("#audio-"+$id+" button").eq(4).removeClass('hidden');
                    xcsoft.success(result.msg, 1500);
                }
                else
                {
                    xcsoft.error(result.msg, 2000);
                    return false;
                }
            },
            error: function () {
                xcsoft.error('出现错误，请稍后再试', 2000);
                return false;
            }
        });
    }

    function confirmdelete($id) {
        url = '/audio/'+$id;
        $("#deleteurl").val(url);
        $("#delete-warning").modal('show');
    }

    function delete_audio() {
        $.ajax({
            url: $("#deleteurl").val(),
            type: 'DELETE',
            dataType: 'json',
            success: function(result) {
                if(result.valid == 1) {
                    window.location.reload();
                }
                else
                {
                    alert('删除失败，请稍后重试');
                    return false;
                }
            }
        });
        // $("#delete-warning").modal('hide');
    }


    //为 tips 提示框自定义 CSS,以下为默认
    xcsoft.tipsCss = {
        height: '44px',
        fontSize: '16px',
        zIndex: '9999'
    };
    //隐藏、显示速度 ，默认 fast
    xcsoft.tipsHide=xcsoft.tipsShow=100;

</script>

<script>
    $('.weixinAudo').weixinAudio();

</script>
<script>
    $("#sidebar ul li").eq(10).addClass("open");
    $("#sidebar ul li").eq(10).find("ul li").eq(0).addClass("active");
</script>
{/block}